<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
<!-- 引入样式 -->
<title>Xy</title>
<meta name="description" content="折煞玲珑心,但为一点灵犀启;原将风流意,化为弦音入梦里">
<link rel="stylesheet" th:href="@{/plugins/element-ui/2.4.2/index.css}">
<link rel="stylesheet" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
<style>
.el-form-item:last-child {margin-bottom: 0;}
button.submit{width: 100%;}
.logincontainer{border: 1px solid #d8dee2;margin-top: 100px;}
.errorContainer{position: relative;top: -330px;background-color: #ffdce0;}
.divide-wrap {
    position: relative;
    height: 1px;
    z-index: 1;
}
.colorbar-before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 9;
    background-color: #1b24ff;
}
.colorbar-after {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 9;
    background-color: #fd0371;
}
.colorbar {
    width: 100%;
    height: 100%;
    z-index: 11;
    background: url(/img/login_bg.png) center no-repeat;
    position: relative;
}
</style>
</head>
<body>
<div id="app">
<div class="divide-wrap">
<div class="colorbar-before"></div>
<div class="colorbar-after"></div>
<div class="colorbar"></div>
</div>
<el-row type="flex" class="row-bg" justify="center">
  <el-col :xs="24" :sm="20" :md="12" :lg="8" :xl="5">
   <el-card shadow="always" class="logincontainer">
    <div slot="header" class="clearfix">
     <span>管理系统</span><span th:text="${msg}"></span>
    </div>
<!--     @submit.native.prevent -->
    <el-form ref="form" :model="form" label-width="80px" auto-complete="off" action="" method="post" >
	  <el-form-item label-width="0">
		  <el-input placeholder="登录账号" v-model="form.loginname" auto-complete="off" name="username">
		    <template slot="prepend"><i class="fa fa-user"></i></template>
		  </el-input>
	  </el-form-item>
	  <el-form-item label-width="0">
		  <el-input placeholder="登录密码" v-model="form.password" type="password" auto-complete="off" name="password">
		    <template slot="prepend"><i class="fa fa-lock"></i></template>
		  </el-input>
	  </el-form-item>
	  <el-form-item label-width="0">
<!-- 	    <el-button type="primary" @click="onSubmit('form')" class="submit" :loading="form.loading">{{form.text}}</el-button> -->
            <el-button type="primary" @click="onSubmit($event)"  class="submit" :loading="form.loading" native-type="submit">{{form.text}}</el-button>
	  </el-form-item>
	</el-form>  
 </el-card>	
 <template>
  <el-alert class="errorContainer" title="登录失败" type="error" show-icon :description="form.errorMsg" v-show="form.error"></el-alert>
 </template>
  </el-col>
</el-row>
</div>
<!-- 引入组件库 -->
<script th:src="@{/plugins/vue/Vue.js}"></script>
<script th:src="@{/plugins/element-ui/2.4.2/index.js}"></script>
<script th:src="@{/plugins/axios/0.18.0/axios.js}"></script>
<script th:src="@{/js/canvas-nest.js}"></script>
<script>
new Vue({
    el: '#app',
    data() {
        return {
          form: {
        	  loginname: '',
              loading:false,
              text:'用户登录',
              password: '',
              error:false,
              errorMsg:''
          }
        }
      },
      methods: {
        onSubmit(event) {
        	event.preventDefault();
        	this.form.loading=true;
        	this.form.text='登录中...';
            if(this.form.loginname==''){
            	this.form.error=true;
            	this.form.errorMsg='账号不能为空!';
            	this.form.loading=false;
            	this.form.text='用户登录';
            	return;
            }
            if(this.form.password==''){
            	this.form.error=true;
            	this.form.errorMsg='密码不能为空!';
            	this.form.loading=false;
            	this.form.text='用户登录';
            	return;
            }
            var $username=this.form.loginname,$password=this.form.password	;
            var $form=this.form;
            var instance = axios.create({
            	  timeout: 10000,
//             	  headers: {'Content-Type': 'application/x-www-form-urlencoded','X-Requested-With': 'XMLHttpRequest'},
                  headers: {'X-Requested-With': 'XMLHttpRequest'},
            	  transformRequest: [function (data) {// 格式处理
	                  var params = new URLSearchParams();
	                  for (var it in data) {
	                	  params.append(it, data[it]);
	                  }
	            	  return params;
            	  }],
            	});
            instance.request({
           	  method: 'post',
           	  url: '/login',
           	  data: {username: $username,password: $password}
           	}).then(function (response) {
                console.log(response);
                var data=response.data;
                if("ok"===data.status){
                	window.location.href="/index";
                }else{
                	console
                	$form.error=true;
                	$form.errorMsg=data.result;
                	$form.loading=false;
                	$form.text='用户登录';
                }
            }).catch(function (error) {
                console.log(error);
            });
        }
        
      }
  })
// }
</script>
</body>
</html>